<div class="container-fluid" id="header">
    <div class="row">
        <div class="col-md-6" id="logo-container">
            <div class="img-container">
                <img src="./assets/github-search.png" alt="logo">
            </div>
        </div>
        <div class="col-md-6" id="nav-container">
            <ul id="nav-menu">
                <li>About</li>
                <li>
                    <button id="profile" class="btn">Profile <img src="./assets/account_circle.png" alt="icon"></button>
                </li>
            </ul>
        </div>
    </div>
</div>