<div class="card">
    <div class="container-fluid">
        <!-- first row -->
        <div class="row" id="first-row">
            <div class="col-md-2">
                <div class="img-container">
                    <img src="./assets/Avatar.png" alt="profile avatar">
                </div>
            </div>
            <div class="col-md-6 name">
                <p id="name">Robert Fox</p>
                <p id="username">@rfoxy</p>
                <div class="location">
                    <p id="location">London, UK</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container-fluid">
                    <div class="row repos">
                        <div class="col-md-8">
                            <p id="repos">Repos</p>
                        </div>
                        <div class="col-md-4">
                            <p id="eighty-nine">89</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- second row -->
        <div class="row">
            <div class="col-md-4">
                <app-repo-card></app-repo-card>
            </div>
            <div class="col-md-4">
                <app-repo-card></app-repo-card>
            </div>
            <div class="col-md-4">
                <app-repo-card></app-repo-card>
            </div>
        </div>
    </div>
</div>